<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <input type="text" ng-model="txt" />
    <div>Main View {{txt}}</div>
    <div>Signal {{signal}}</div>
    <div>STATUS {{status}}</div>
    <div ng-click="GetStatus()">STATUS</div>
    <br />
    <br />
    <table class="practiceTable">
        <thead>
            <tr>
                <th></th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Id</th>
                <th>Accepted</th>    
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in orders">
                <td>{{o.Data}}</td>
                <td>{{o.Hour}}</td>
                <td>{{o.Id}}</td>
                <td>{{o.Accepted}}</td>
                <td><md-button ng-hide="o.accepted" ng-click="acceptOrder(o)" class="md-primary md-raised">AKCEPTUJ</md-button></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <div ng-click="print()" >TESTUJ!</div>
    <br />
    <hr />
    Status: {{printerStatus}}
    <div>LOGIN: {{logged}}</div>
    <!--<div ng-click="login()">TESTUJ LOG!</div>-->
    <div ng-click="test()">TESTUJ ODP!</div>
    <div ng-click="settings()">USTAWIENIA</div>
</body>
</html>