<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <div>Server {{serverStatus}}</div>
    <div>Signal {{signal}}</div>
    <div>Drukarka: {{status}}</div>
    <div>Status: {{printerStatus}}</div>
    <button ng-click="GetStatus()">
        Pobierz status drukarki
    </button>
    <br />
    
    ZAMOWIENIA:
    <hr />
    <table class="practiceTable">
        <thead>
            <tr>
                <th></th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Id</th>
                <th>Accepted</th>    
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in orders">
                <td>{{o.Data}}</td>
                <td>{{o.Hour}}</td>
                <td>{{o.Id}}</td>
                <td>{{o.Accepted}}</td>
                <td><button ng-hide="o.accepted" ng-click="acceptOrder(o)" class="md-primary md-raised">AKCEPTUJ</button></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <br />
    <br />

    <button ng-click="settings()">USTAWIENIA</button>
</body>
</html>